@{
    ViewBag.Title = "Вопросы и Пожелания";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Байкальский Государственный Университет<br />
    664003, г. Иркутск, ул. Ленина, 11, к3, каб. 514 <br />
    <abbr title="Телефон:">Телефон:</abbr>
    (3952) 2-5555-2 доб. 008
</address>

<address>
    Позвонить Skype для Бизнеса ( Lync ) <br />
    Написать Skype для Бизнеса  ( Lync ) <br />
</address> 



<address>
    <strong>Разработчик:</strong>   <a href="mailto:afanasievdv@bgu.ru">afanasievdv@bgu.ru</a><br />
    <strong>Поддержка:</strong> <a href="mailto:tsymbalistka@bgu.ru">tsymbalistka@bgu.ru</a>  
</address>
